.dropdown {
    border-radius: 3px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    background-color: var(--tedwhite);
    position: relative;
    margin: 20px 0;
}

.question-plus {
    font-size: 1.5rem;
    padding: 0 15px;
    margin: 0;
    position: absolute;
    right: 0.75rem;
}

.check {
    font-size: 1.5rem;
    padding: 0 15px;
    width: 1.5em;
    height: 1.5em;
    margin: 0;
    position: absolute;
    right: 2rem;
}


.question-title {
    position: relative;
    margin-right: 4rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.question-title-open {
    position: relative;
    margin-right: 4rem;
}

.label {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 1rem;
	transition: all 0.3s ease-in-out;
}

.label:hover, .label:active, .label:focus {
    background-color: var(--tedoffwhite);
}

.content {
    padding: 1em;
}

.video {
    max-width: 854px;
    max-height: 480px;
    position: relative;
    height: 0;
    padding-bottom: 56%;
}

iframe {
    width: 854;
    height: 480;
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}

/* END NEW CODE */

.dropdown-closed {
    text-align: left;
    padding: 0;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 26px -5px var(--opaque);
    padding-left: 50%;
    padding-right: 50%;
}

.dropdown-open {
    text-align: left;
    padding: 0;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 26px -5px var(--opaque);
}