#popup-bg {
    display: inline-block;
    bottom: 1000px;
    padding: 10px;
	z-index: 9999;
    text-align: center;
    background: var(--tedredgradient);
    background-size: cover;
    z-index: 9999;
}

#popup-content h5, #popup-content p {
    color: var(--tedwhite);
}

.download-icon {
    vertical-align: middle;
    position: relative;
    top: 5px;
    padding: 0 0 1rem;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0;
}