#popup-bg {
    position: fixed;
    bottom: 0;
    display: inline-block;
    padding: 5px;
	z-index: 9999;
    text-align: center;
    background: #2b2b2b;
    background-size: cover;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.4);
    border-radius: 7px 7px 0 0;
    margin: 0;
}


#popup-content h5, #popup-content p {
    line-height: 1rem;
    color: var(--tedwhite);
}

#popup-content h5 {
    font-size: 1.5rem;
}
#popup-content p {
    padding: 0;
    margin: 10px 10px 15px;
    font-size: 0.8rem;
}

.download-icon {
    vertical-align: middle;
    position: relative;
    top: 5px;
    padding: 0 0 1rem;
    height: 1.2rem;
    width: 1.2rem;
    margin: 0;
}

.button-popup {
    background: none;
    color: var(--tedwhite);
    box-shadow: none;
    border: 1px solid var(--tedwhite);
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
}

.closeModal {
    text-align: right;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-right: 5%;
    color: var(--tedwhite);
}

.closeModal:hover {
    cursor: pointer;
}

.closed {
    animation: close 0.6s;
}

@keyframes close {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}