#popup-bg {
    position: fixed;
    bottom: 0;
    display: inline-block;
    padding: 5px;
	z-index: 9999;
    text-align: center;
    background: var(--tedredgradient);
    background-size: cover;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

#popup-content h5, #popup-content p {
    color: var(--tedwhite);
    line-height: 0.2rem;
}

#popup-content p {
    padding: 0;
    margin: 10px 0 15px;
    font-size: 0.8rem;
}

.download-icon {
    vertical-align: middle;
    position: relative;
    top: 5px;
    padding: 0 0 1rem;
    height: 1.2rem;
    width: 1.2rem;
    margin: 0;
}

.button-blank {
    background: none;
    color: var(--tedwhite);
    box-shadow: none;
    border: 1px solid var(--tedwhite);
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
}