/* timeline */
.timeline-container {
  margin-top: 320px;
  padding: 10% 4% 10% calc(3% + 2rem + 4px);
}

.timeline-container__admin {
  margin-top: 0;
}

.timeline {
  list-style-type: none;
  position: relative;
  margin: 20px;
  transition: all 1s linear;
}

.timeline::before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  border: 1px solid var(--lightgrey);
  position: absolute;
  left: -2rem;
}

.timeline__event {
  position: relative;
}

.timeline__timepicker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 320px auto auto;
  width: 90%;
}

.timeline__event__title {
  margin: 0;
}

.timeline__event__time {
  font-size: 0.9rem;
  color: var(--red);
  margin-bottom: 0;
}

.timeline__event__description {
  font-size: 0.9rem;
  float: left;
  top: 5px;
  vertical-align: middle;  
  position: relative;
  padding-left: 5px;
  margin-bottom: 5px;
}

/* event cards */
.event-card {
  box-sizing: border-box;
  border-radius: 3px;
  padding: 10px 20px;
}

.event-card--clickable {
  margin: 2rem 0;
  cursor: pointer;
  background: var(--white);
  border: 1px solid #F5F5F5;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.13);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event-card--static {
  margin: 1rem 0 2rem;
  border-color: 1px solid var(--red);
  border-radius: 3px;
}

.event-card__content {
  margin-right: 5px;
}

.event-card__arrow {
  color: var(--lightgrey);
  padding: 0 15px 0 10px;
  margin: 0;
  position: absolute;
  right: 0;
  vertical-align: middle;
}

.event-card--clickable:hover {
  background-color: rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease-in-out;
}

.event-card__img {
  vertical-align: middle;
  position: relative;
  top: 5px;
  height: 1.2rem;
  width: 1.2rem;
  margin: 0;
  float: left;
  border-radius: 50%;
}

/* bullets */
.event-static::before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  border: 1px solid var(--lightgrey);
  position: absolute;
  top: 0;
  left: -2rem;
}

.event-static:first-child::before {
  top: 5px;
}

/* static timeline styles */
.bullet-static {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  left: calc(-2rem - 4px);
  top: calc(50% - 4px);
  background-color: var(--red);
  border-radius: 50%;
  box-sizing: border-box;
  z-index: 1;
}

.bullet__bg {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  left: calc(-2rem - 13px);
  top: calc(50% - 13px);
  background-color: var(--bggrey);
  border-radius: 50%;
  border: 5px solid var(--bggrey);
  z-index: 0;
}

/* static timeline styles */
.bullet__now {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  left: calc(-2rem - 4px);
  top: calc(50% - 4px);
  background-color: var(--red);
  border-radius: 50%;
  animation: now-pulse 2.5s infinite;
  box-sizing: border-box;
  z-index: 1;
}

.bullet__now::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0;
  top: 0;
  background-color: var(--red);
  border-radius: 50%;
  animation: now-pulse-3 2.5s infinite;
  box-sizing: border-box;
  z-index: 1;
}

.bullet__now::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0;
  top: 0;
  background-color: var(--red);
  border-radius: 50%;
  animation: now-pulse-4 2.5s infinite;
  box-sizing: border-box;
  z-index: 1;
}

.bullet__past {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  left: calc(-2rem - 4px);
  top: calc(50% - 4px);
  background-color: var(--grey-60);
  border-radius: 50%;
  box-sizing: border-box;
  z-index: 1;
}

/* ANIMATIONS */
@keyframes now-pulse-2
{
  26% {
    width: 0px;
    height: 0px;
    /* box-shadow: 0.0 0.0 0.0 0.0px rgba(203, 45, 62, 0.5); */
  }
  100% {
    width: 13px;
    height: 13px;
    /* box-shadow: 0.0 0.0 0.0 8.0px rgba(203, 45, 62, 0); */
  }
}

@keyframes now-pulse-3
{
  0%, 35% {
    transform: scale(0);
    opacity: 1;
  }
  45% {
    transform: scale(1.2);
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}

@keyframes now-pulse-4
{
  0%, 35% {
    transform: scale(0);
    opacity: 0;
  }
  47% {
    transform: scale(2);
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(4);
  }
}

@keyframes now-pulse-card
{
  0% {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.13), 0 0 0 0px rgba(203, 45, 62, 0.3);
  }
  100% {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.13), 0 0 0 10px rgba(203, 45, 62, 0);
  }
}

@keyframes now-pulse-card-2
{
  26% {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.13), 0 0 0 0px rgba(203, 45, 62, 0.5);
  }
  100% {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.13), 0 0 0 8px rgba(203, 45, 62, 0);
  }
}

@keyframes now-pulse-card-3
{
  0%, 35% {
    transform: scale(0);
    opacity: 1;
  }
  45% {
    transform: scale(1.2);
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}

@keyframes now-pulse-card-4
{
  0%, 35% {
    transform: scale(0);
    opacity: 0;
  }
  47% {
    transform: scale(2);
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(4);
  }
}