/* NEW TIMELINE CODE */
 
.timeline {
  margin-left: 10%;
  margin-right: 0;
  margin-bottom: 3em;
}

.timeline-admin {
  margin-left: 10%;
  margin-right: 0;
  margin-bottom: 3em;
}
 
.timeline ul {
  list-style-type: none;
  position: relative;
  margin: 20px;
  transition: all 1s linear;
}

.timeline-admin ul {
  list-style-type: none;
  position: relative;
  margin: 20px;
  transition: all 1s linear;
}

.timeline ul::before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  border: 1px solid var(--tedlightgrey);
  position: absolute;
  left: -2rem;
}

.timeline-admin ul::before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  border: 1px solid var(--tedlightgrey);
  position: absolute;
  left: -2rem;
}

.timeline-admin ul li {
  position: relative;
}

.timeline ul li {
  position: relative;
}

.event-static::before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  border: 1px solid var(--tedlightgrey);
  position: absolute;
  top: 0;
  left: -2rem;
}

.event-static:first-child::before {
  top: 5px;
}

/* static timeline styles */
.bullet-static {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  left: calc(-2rem - 4px);
  top: calc(50% - 4px);
  background-color: var(--tedred);
  border-radius: 50%;
  box-sizing: border-box;
  z-index: 1;
}

.bullet-bg {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  left: calc(-2rem - 13px);
  top: calc(50% - 13px);
  background-color: var(--tedbggrey);
  border-radius: 50%;
  border: 5px solid var(--tedbggrey);
  z-index: 0;
}


/* static timeline styles */
.now {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  left: calc(-2rem - 4px);
  top: calc(50% - 4px);
  background-color: var(--tedred);
  border-radius: 50%;
  animation: now-pulse 2.5s infinite;
  box-sizing: border-box;
  z-index: 1;
  -webkit-transform: translateZ(0);
}

.now::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0;
  top: 0;
  background-color: var(--tedred);
  border-radius: 50%;
  animation: now-pulse-2 2.5s infinite;
  box-sizing: border-box;
  z-index: 1;
  -webkit-transform: translateZ(0);
}

.info-talk-pulse {
    animation: now-pulse-card 2.5s infinite;
    -webkit-transform: translateZ(0);
}

.past {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  left: calc(-2rem - 4px);
  top: calc(50% - 4px);
  background-color: #a7a7a7;
  border-radius: 50%;
  box-sizing: border-box;
  z-index: 1;
}
 

/* Use this instead of bullet class if occurred  */
.event-ended::before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  border: 1px solid var(--tedred);
  position: absolute;
  top: 0;
  left: -2rem;
}

.info-static {
  margin: 1rem 0 2rem;
  padding: 10px 20px;
  border-color: var(--tedred);
  border-width: 1px;
  /* border: 1px solid #ECECEC; */
  box-sizing: border-box;
  border-radius: 3px;
}

.info-talk {
  margin: 2rem 0;
  padding: 10px 20px;
  cursor: pointer;
  background: var(--tedwhite);
  border: 1px solid #F5F5F5;
  box-sizing: border-box;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.13);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-talk div {
  margin-right: 5px;
}

.info-talk p {
  margin-bottom: 5px;
}

.info-arrow {
  color: var(--tedlightgrey);
  padding: 0 15px 0 10px;
  margin: 0;
  position: absolute;
  right: 0;
  vertical-align: middle;
}

.info-talk:hover {
  background-color: rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease-in-out;
}

.event-title {
  margin: 0;
}

.time {
  font-size: 0.9rem;
  color: var(--tedred);
  margin-bottom: 0;
}

.event-description {
  font-size: 0.9rem;
  float: left;
  top: 5px;
  vertical-align: middle;  
  position: relative;
  padding-left: 5px;
}

.speakerPicture {
  vertical-align: middle;
  position: relative;
  top: 5px;
  /* padding-right: 5px; */
  /* padding: 0 0 1rem; */
  height: 1.2rem;
  width: 1.2rem;
  margin: 0;
  float: left;
  border-radius: 50%;
}

/* END NEW TIMELINE CODE */

/* LOGIN MODE STYLES */
.new-event-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 300px;
  margin-left: 5%;
  width: 90%;
}
/* END LOGIN MODE STYLES */


/* ANIMATIONS */
@keyframes now-pulse-2
{
  0%, 35% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}

@keyframes now-pulse-card
{
  0% {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.13), 0 0 0 0px rgba(203, 45, 62, 0.3);
  }
  100% {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.13), 0 0 0 10px rgba(203, 45, 62, 0);
  }
}

@keyframes now-pulse-card-2
{
  26% {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.13), 0 0 0 0px rgba(203, 45, 62, 0.5);
  }
  100% {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.13), 0 0 0 8px rgba(203, 45, 62, 0);
  }
}


/* MEDIA QUERIES TO DISPLAY ACCORDING TO HEADER */

@media only screen and (max-width: 600px) {
  .timeline {
    margin-top: 320px;
    margin-left: 10%;
    margin-right: 0;
  }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .timeline {
    margin-top: 320px;
    margin-left: 10%;
    margin-right: 5%;
  }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .timeline {
      margin-left: 12%;
      margin-right: 12%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .timeline {
    margin-left: 15%;
    margin-right: 12%;
}
}

@media only screen and (max-width: 600px) {
  .timeline-admin {
    margin-left: 10%;
    margin-right: 0;
  }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .timeline-admin {
    margin-left: 10%;
    margin-right: 5%;
  }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .timelinea-admin {
      margin-left: 12%;
      margin-right: 12%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .timeline-admin {
    margin-left: 15%;
    margin-right: 12%;
}
} 