// Colors
$black: #000;
$grey-0: #111;
$grey-20: #333;
$grey-40: #666;
$grey-60: #999;
$grey-80: #ccc;
$grey-70: #aaa;
$grey-100: #eee;
$white: #fff;

$bggrey: #fcfcfc;
$offwhite: #f8f8f8;

$red: #e62b1e;
$redhover: #cb2d3e;
$redhover-opaque: rgba(203, 45, 62, 0.35);

$redgradient: linear-gradient(180deg, #cb2d3e 0%, #ef473a 100%);
$redgradient45: linear-gradient(315deg, #cb2d3e 0%, #ef473a 100%);

$opaque: rgba(0, 0, 0, 0.3);
$rippleblue: #6eebfc;
