@import '../../sass/import';

.faq {
    width: 90%;
    margin: $space-7 auto;

    &__btn-group {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        /* btn group spacing */
        & > * {
            margin: $space-11;
        }
    }
}

/* MEDIA QUERIES TO DISPLAY ACCORDING TO HEADER */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .faq { margin-top: $space-5; }
}