.speakers {
    width: 90%;
    margin: 20px auto;
    text-align: left;
  }
  
  .speakers h1 {
    text-align: center;
    text-transform: uppercase;
  }
  
  .speakers h2 {
    text-align: center;
    text-transform: uppercase;
  }
  
  .speakers .justified {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  @media only screen and (max-width: 600px) {
      .speakers {
        margin-top: 20px;
      }
    } 
    
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
      .speakers {
        margin-top: 20px;
      }
    } 
    
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
      .speakers {
          margin-top: 30px;
      }
    }


/* ============= NEW STYLES ============= */

.questions-form {
    margin: 5px !important;
  }

