.speakers {
    width: 90%;
    margin: auto;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    .speakers {
      margin-top: 80px;
    }
  } 
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .speakers {
      margin-top: 80px;
    }
  } 
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .speakers {
        margin-top: 150px;
    }
  }