/// Exponentation. Helpful with modular scale typography
/// @param {Number} $base
/// @param {Number} $exponent
/// @example
///   pow(2,3) returns 8
///
@function power ($base, $exponent){
    $number: 1;
    @if $exponent >= 0 {
      @for $i from 1 through $exponent{
        $number: $number * $base;
      }
    }@else{
      @for $i from $exponent to 0 {
        $number: $number / $base;
      }
    }
    @return $number;
  }
  