.faqquestion {
    text-align: left;
    padding: 0;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 26px -5px var(--opaque);
    background-color: var(--tedwhite);
}

.label {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 1em;
	transition: all 0.3s ease-in-out;
}

.label:hover {
    background-color: var(--tedoffwhite);
}

.content {
    color: red;
    margin-top: 0;
    padding-top: 0;
    padding: 1em;
}

.content p {
    margin-top: 0;
    padding-top: 0;
}

.video {
    max-width: 854px;
    max-height: 480px;
    position: relative;
    height: 0;
    padding-bottom: 56%;
}

iframe {
    width: 854;
    height: 480;
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}