#navigation {
    background: var(--redgradient);
}

#navigation a {
  color: var(--white);
  float: left;
  text-align: center;
  padding: 20px 0;
  line-height: 25px;
  transition: color 0.3s ease-out;
}

#navigation a:hover {
  color: var(--lightblue);
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 24px;
  right: 26px;
  top: 42px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: var(--red);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 50px !important;
  width: 50px !important;
  height: 24px;
  width: 36px;
  right: 26px;
  top: 42px;
}

.bm-cross-button button {
  top: 20px !important;
  left: -20px !important;
}

/* Color/shape of close button cross */
span .bm-cross {
  background: var(--white);
  right: 20px;
  top: 25px;
  height: 30px !important;
  width: 3px !important;
}

.bm-menu-wrap {
  position: absolute;
  top: 0;
  box-sizing: border-box;
  width: 100% !important;
  background-color: rgba(0,0,0,0.1);
}

/* General sidebar styles */
.bm-menu {
  background: var(--redgradient);
  padding: 0;
  font-size: 1.4rem;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.bm-menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: var;
}

/* Wrapper for item list */
.bm-item-list {
  display: flex;
  justify-content: center !important;
  color: var(--white);
  padding: 0.8em;
  text-align: center !important;
  position: relative;
  box-sizing: border-box;
}
