// Colors
// --------------------------------------------------------
$black: #000;
$grey-0: #111;
$grey-20: #333;
$grey-40: #666;
$grey-60: #999;
$grey-80: #ccc;
$grey-70: #aaa;
$grey-100: #eee;
$white: #fff;

$bggrey: #fcfcfc;
$offwhite: #f8f8f8;

$red: #e62b1e;
$redhover: #cb2d3e;
$redhover-opaque: rgba(203, 45, 62, 0.35);

$redgradient: linear-gradient(180deg, #cb2d3e 0%, #ef473a 100%);
$redgradient45: linear-gradient(315deg, #cb2d3e 0%, #ef473a 100%);

$opaque: rgba(0, 0, 0, 0.3);
$rippleblue: #6eebfc;

// --------------------------------------------------------

/// neutral palette
/// -------------------------------------------------------
$palette__white	    :	#FFF !default;
$palette__neutral-050 : rgb(250, 247, 247) !default;
$palette__neutral-100	:	rgb(252, 236, 236) !default;
$palette__neutral-200	:	#F0EBE0 !default;
$palette__neutral-300	:	rgb(184, 167, 167) !default;
$palette__neutral-500	:	#786262 !default;
$palette__neutral-700	:	rgb(82, 61, 61) !default;
$palette__neutral-900	:	rgb(39, 29, 29) !default;
$palette__black	    :	$palette__neutral-900 !default;


/// primary palette
/// -------------------------------------------------------
$palette__sol	     : #FFD400 !default;
$palette__shore	   : #02BAC9 !default;
//$palette__sand	   : #F0EBE0 !default;
//$palette__atlantic : #044CB8 !default;
$palette__florida	 : #1477D7 !default;

//@TODO: build out the whole series from designer and update names

/// primary palette shades
/// -------------------------------------------------------
$palette__florida-900: #003C7C !default;
$palette__florida-300: #8ACCFF !default;
$palette__florida-100: #FFFAE6 !default;


/// UI system palette
/// -------------------------------------------------------
$palette__coral	   : #EA335E !default;
$palette__grove    : #008A00 !default;
$palette__tangerine: #FDAD45 !default;

/// UI system background palette
/// -------------------------------------------------------
$palette__coral--background   	: #FFF4F4 !default;
$palette__florida--background   : #EAF7FF !default;
$palette__shore--background		: #DBF8F8 !default;
$palette__tangerine--background	: #FCF7EC !default;


// color for ui highlights
$palette__highlighter : $palette__sol !default;

/// color roles | background-colors
/// -------------------------------------------------------
$color__page-background   : $palette__white !default;

/// color roles | typography
/// -------------------------------------------------------
$color__text              : $palette__neutral-900 !default; 		// default text color
$color__text--hint        : $palette__neutral-500 !default;		// ancillary (eg. disclaimers, legalese)
//$color__text--secondary   : $palette__neutral-700 !default;

/// color roles | status colors
/// -------------------------------------------------------
$color__news	    :	$palette__florida !default;
$color__promotion	:	$palette__sol !default;
$color__crisis	  :	$palette__coral !default;
$color__error     : $palette__coral !default;
$color__positive  : $palette__grove !default;
$color__negative  : $palette__coral !default;
$color__warning	  : $palette__tangerine !default;
$color__notification	: $palette__florida-900 !default;


/// color roles | links
/// -------------------------------------------------------
$color__link              : $palette__neutral-900 !default;
$color__link--hover       : $palette__florida !default;

/// color roles | ui
/// -------------------------------------------------------
$color__ui-accent            : $palette__florida !default;

$color__border               : $palette__neutral-300 !default;
$color__overlay              : rgba(0,0,0,0.4) !default;
