/// type sizing
/// -------------------------------------------------------
$system__font-size   : 1rem !default;
//$system__type-scale  : 1.250 !default;
$system__line-height : 1.6 !default;

/// typefaces
/// -------------------------------------------------------
$font__sans-serif	:	Helvetica, Arial, sans-serif !default;
$font__serif	:	'Recoleta', Georgia, Times, 'Times New Roman', serif;
$font__monospace : 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace !default;

$font__titles    : $font__serif !default;
$system__font    : $font__sans-serif !default;


/* TYPOGRAPHY (PASTED)
------------------------------------*/
%typography {
    color: $black;
    text-rendering: optimizeLegibility;
    margin-top: 1.1875rem;
}
  
h1, .h1 {
    @extend %typography;
    font-size: 2.0625rem;
    line-height: 2.375rem;
    margin-bottom: 1.1875rem;
}
  
h2, .h2 {
    @extend %typography;
    font-size: 1.625rem;
    line-height: 2.375rem;
    margin-bottom: 1.1875rem;
}
  
h3, .h3 {
    @extend %typography;
    font-size: 1.25rem;
    line-height: 2.375rem;
    margin-bottom: 0;
}
  
h4, .h4 {
    @extend %typography;
    font-size: 1rem;
    line-height: 1.1875rem;
    margin-bottom: 0;
}
  
h5, .h5 {
    @extend %typography;
    font-size: 1rem;
    line-height: 1.1875rem;
    margin-bottom: 0;
}
  
h6, .h6 {
    @extend %typography;
    font-size: 1rem;
    line-height: 1.1875rem;
    margin-bottom: 1.1875rem;
    font-weight: 400;
}
  
p {
    font-size: 1rem;
    color: $grey-20;
    margin-bottom: 1.3rem;
    line-height: 1.4rem;
}
  
p, ul, ol, pre, table, blockquote {
    margin-top: 0;
    margin-bottom: 1.1875rem;
}
  
hr, .hr {
    border: 1px solid;
    margin: -1px 0;
}
  
sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
  
a {
    color: $red;
    text-decoration: none;
}
  
small {
    font-size: 0.7rem;
    line-height: inherit;
}
  
del { text-decoration: line-through; }
  
code {
    margin: 0 .3rem;
    padding: .3rem .6rem;
    white-space: nowrap;
    background: $offwhite;
    border: 1px solid $offwhite;
    border-radius: 3px;
}