.event-details {
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: left;
}

.speakers {
  margin-top: 250px;
}

@media only screen and (max-width: 600px) {
    .event-details {
      margin-top: 275px;
    }
  } 
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .event-details {
      margin-top: 350px;
    }
  } 
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .event-details {
        margin-top: 325px;
    }
  }