.event-details {
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: left;
}

.info-container {
margin-top: 250px;
padding: 20px;
}

.talk {
color: var(--tedlightgrey);
}

.talk-title {
margin-top: 20px;
color: var(--tedred);
}

.bio {
margin-top: 80px;
color: var(--tedblack);
}


/* MEDIA QUERIES TO DISPLAY ACCORDING TO HEADER */
@media only screen and (max-width: 600px) {
  .event-details {
    margin-top: 200px;
  }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .event-details {
     margin-top: 230px;
  }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .event-details {
      margin-top: 275px;
  }
}

@media (max-width: 420px) {

  .mm-popup__box__footer__left-space {
      float: none;
  }

  .mm-popup__box__footer__right-space {
      float: none;
  }

  .mm-popup__box__footer {
      padding-top: 30px;
  }

  .mm-popup__box__footer .mm-popup__btn {
      display: block;
      width: 100%;
      text-align: center;
      margin-top: 10px;
      margin-left: 0px;
  }
}