@import '../../sass/variables';

.speaker {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
  text-align: left;
}

.speaker__info {
  padding: 20px;
}

.talk {
  color: $grey-70;
}

.speaker__talk-title {
  margin-top: 20px;
  color: $red;
}

.speaker__bio {
  margin-top: 50px;
  color: $black;
}

.speaker__related {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* The responsive YT video CSS is listed on mult online sources */
.video-container {
  max-width: 100%;
}

.video {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin-bottom: 20px;
}

.video iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}