header {
    position: relative;
    background-color: rgba(0,0,0,0);
    background-image: url(../../header-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    /* margin-bottom: 200px; */
}

header h1 {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

header .logo {
    left: 26px;
    top: 36px;
    position: absolute;
    z-index: 1;
    max-width: 130px;
}

header h1, header h6 {
    color: var(--tedwhite);
    line-height: normal;
}

header .title {
    margin-top: 100px;
    line-height: 2em;
}

.header-content {
    padding: 0 26px 15px 26px;
}

.header-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.description {
    padding-bottom: 15px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    /* content */
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .description {
        padding-bottom: 50px;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .description {
        padding-bottom: 60px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    header {
        position: relative;
        background: var(--tedredgradient);
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.09);
        border-radius:0%;
    }

    .description {
        padding-bottom: 25px;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* content */
}