.qanda {
    width: 90%;
    margin: 20px auto;
}

.qanda__content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.qanda__btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* btn group spacing */
.qanda__btn-group > * {
    margin: 4px;
}

.qanda__message--empty {
    text-align: center;
}