@import '../../../sass/variables';

.qanda {
    width: 90%;
    margin: 20px auto;

    &__content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__btn-group {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        /* btn group spacing */
        & > * {
            margin: 4px;
        }
    }

    &__message--empty {
        text-align: center;
    }
}