body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
  }
  
#root {
    height: 100%;
}
  
.map {
    height: 100%;
}

.message-form {
    z-index: 999;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white
  }


@keyframes shadow-pulse
{
      0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
      }
      100% {
          box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
      }
}

circle {
  stroke: var(--tedred); 
  fill: var(--tedred);
  stroke-width: 2px;
  stroke-opacity: 1;
}

.pulse {
  fill: white;
  fill-opacity: 0;
  animation-duration: 2s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  from {
    stroke-width: 3px;
    stroke-opacity: 1;
    transform: scale(0.3);
  }
  to {
    stroke-width: 0;
    stroke-opacity: 0;
    transform: scale(2);
  }
}