.dropdown {
    margin: 10px;
    padding: 10px;
    text-align: left;
    margin: 10px 30px;
    padding: 1em;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 26px -5px var(--opaque);
    -moz-box-shadow: 1px 1px 26px -5px var(--opaque);
    box-shadow: 2px 2px 26px -5px var(--opaque);
    cursor: pointer;
}

.label {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content {
    color: red;
    /* TBD */
}