.faq {
    width: 75%;
    margin: auto;
    text-align: left;
}

.faq h1 {
    text-align: center;
    text-transform: uppercase;
}

.faq h2 {
    text-align: center;
    text-transform: uppercase;
}