footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
    position: relative;
    color: var(--tedblack);
    background-color: var(--tedwhite);
    padding: 20px 10px;
  }