.schedule ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 10px;
  padding: 10px;
}

.schedule li {
  width: 75%;
  list-style-type: none;
  text-align: center;
  margin: 10px 30px;
  padding: 1em;
  border-radius: 3px;
  background-color: var(--tedoffwhite);
  color: var(--tedblack);
  -webkit-box-shadow: 1px 1px 26px -2px var(--opaque);
  -moz-box-shadow: 1px 1px 26px -2px var(--opaque);
  box-shadow: 2px 2px 26px -2px var(--opaque);
}