@import '../../sass/_variables.scss';

.login {
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: left;
    margin-top: $space-5;

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
      margin-top: $space-5;
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
      margin-top: $space-4;
    }

    &__form { width: 75%; }
    &__input--invalid {
      border: 2px solid $red;
    }
}