/* CSS General Styles Sheet
 *
 * Imports, CSS Variables, Reset, Typography,
 * Buttons, Forms, Tables
------------------------------------*/

/* IMPORTS
------------------------------------*/
@import 'sass/variables.scss';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700');

/* RESET
------------------------------------*/
*
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.1875rem;
  z-index: -20;
}

/* THIS CODE HACKS STATUS BAR BACKGROUND ON MOBILE, DO NOT REUSE */
body::before {
  content: "";
  top: 0;
  left: 0;
  background: $bggrey;
  z-index: -2;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

body::after {
  content: "";
  top: -300px;
  left: 0;
  background: $redhover;
  z-index: 10;
  width: 100vw;
  height: 300px;
  position: fixed;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display: block;
}

nav ul { list-style: none; }

a {
    vertical-align: baseline;
    background: transparent;
}

mark {
    background-color: $red;
    color: $black; 
    font-style: italic;
    font-weight: bold;
}

del { text-decoration: line-through; }

hr {
    display: block;
    height: 1px;
    border: 0;   
    border-top: 1px solid $grey-20;
}

input,
select {
    vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
}


/* TYPOGRAPHY
------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  color: $black;
  text-rendering: optimizeLegibility;
}

h1, .h1 {
  font-size: 2.0625rem;
  line-height: 2.375rem;
  margin-top: 1.1875rem;
  margin-bottom: 1.1875rem;
}

h2, .h2 {
  font-size: 1.625rem;
  line-height: 2.375rem;
  margin-top: 1.1875rem;
  margin-bottom: 1.1875rem;
}

h3, .h3 {
  font-size: 1.25rem;
  line-height: 2.375rem;
  margin-top: 1.1875rem;
  margin-bottom: 0;
}

h4, .h4 {
  font-size: 1rem;
  line-height: 1.1875rem;
  margin-top: 1.1875rem;
  margin-bottom: 0;
}

h5, .h5 {
  font-size: 1rem;
  line-height: 1.1875rem;
  margin-top: 1.1875rem;
  margin-bottom: 0;
}

h6, .h6 {
  font-size: 1rem;
  line-height: 1.1875rem;
  margin-top: 1.1875rem;
  margin-bottom: 1.1875rem;
  font-weight: 400;
}

p {
  font-size: 1rem;
  color: $grey-20;
  margin-bottom: 1.3rem;
  line-height: 1.4rem;
}

p, ul, ol, pre, table, blockquote {
  margin-top: 0;
  margin-bottom: 1.1875rem;
}

hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

a {
  color: $red;
  text-decoration: none;
}

small {
  font-size: 0.7rem;
  line-height: inherit;
}

del { text-decoration: line-through; }

code {
  margin: 0 .3rem;
  padding: .3rem .6rem;
  white-space: nowrap;
  background: $offwhite;
  border: 1px solid $offwhite;
  border-radius: 3px;
}

/* BLOCKQUOTE STYLING */
blockquote {
  padding: 1rem;
  border-left: 7px solid $grey-20;
}

blockquote > p {
  font-style: italic;
  line-height: 1.6;
}

blockquote::before {
  content: open-quote;
  font-size: 4rem;
  color: $grey-20;
  line-height: 0.3rem;
  margin-right: 0.25rem;
  vertical-align: -0.5rem;
}

cite {
  color: $grey-20;
  display: block;
  padding: 0;
  text-align: right;
  font-style: italic;
}

cite::before { content: '— '; }

dt {
  font-weight: bold;
  padding: 10px 0;
}

dd {
  color: $grey-20;
  line-height: 1.4;
}


/* FORMS
------------------------------------*/
fieldset { border: none; }
textarea { min-height: 5rem; }

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  font-size: 1rem;
  display: block;
  padding: 1rem;
  color: $grey-20;
  width: 100%;
  border: 1px solid $grey-70;
  transition: all 0.3s ease-in-out;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
	color: $black;
  border: 1px solid $grey-20;
}

label,
legend {
  color: $black;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 1rem;
	margin-bottom: .6rem;
	display: block;
}

.placeholder { color: $grey-70; }
.focus-highlight { border-bottom: 1px solid $red; }


/* BUTTONS
------------------------------------*/
.btn {
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: .05rem;
  padding: 1rem;
  font-weight: 600;
  transition: all 300ms ease-in-out;
}

.btn-full {
  width: 100%;
  padding: 1rem 2rem;
}

.btn-rounded { border-radius: 24px; }

/* red gradient button */
.btn--primary {
  color: $white;
  background: $redgradient45;
  /* box-shadow: 0 2px 10px 0 $opaque; */
  transition: all 300ms ease-in-out;
}

/* white button */
.btn--secondary {
  color: $black;
  background: $offwhite;
  box-shadow: 0 2px 10px 0 $opaque;
  transition: all 300ms ease-in-out;
}

/* red outline btn */
.btn--tertiary {
  color: $red;
  background: transparent;
  border: 1px solid $red;
}

.btn--tertiary:hover {
  color: $redhover;
  border: 1px solid $redhover;
  background: none;
}

.btn--tertiary:focus {
  background: $redgradient45;
}

/* black outline button */
.btn--outline {
  color: $black;
  background-color: $white;
	border: 3px solid $black;
}

.btn--cancel {
  background-color: $grey-70;
  color: $black;
}

.btn--cancel:hover {
  background-color: $grey-20;
}

.q-btn {
  position: relative;
  font-size: 0.7rem;
  font-weight: 600;
  color: $redhover;
  background-color: $white;
  border-radius: 66px;
  padding: 16px 40px;
  box-shadow: 0px 2px 24px $redhover-opaque;
}

.q-btn:hover {
  background-color: $bggrey;
}

.q-btn--primary {
  bottom: -36px;
}


/* TABLES
------------------------------------*/
table {
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0;
  padding: 20px;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: $grey-20;
  color: $white;
}

td {
  background-color: $offwhite;
}

.table-container {
  overflow-x: auto;
  padding: 20px;
}


/* UTILITIES
------------------------------------*/

/* TYPOGRAPHY */
.bold { font-weight: 600; }
.italicize { font-style: italic; }
.underline { text-decoration: underline; }
.text-center { text-align: center; }

.text-lightgrey { color: $grey-70; }
.text-red { color: $red; }

.link-white {
  color: $white;
  text-decoration: underline;
}

.relative { position: relative; }

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

/* MARGIN UTILITIES */
.m-0  { margin:        0; }
.mt-0 { margin-top:    0; }
.mr-0 { margin-right:  0; }
.mb-0 { margin-bottom: 0; }
.ml-0 { margin-left:   0; }
.mx-0 { margin-left:   0; margin-right:  0; }
.my-0 { margin-top:    0; margin-bottom: 0; }

.m-4  { margin:        4px; }
.mt-4 { margin-top:    4px; }
.mr-4 { margin-right:  4px; }
.mb-4 { margin-bottom: 4px; }
.ml-4 { margin-left:   4px; }
.mx-4 { margin-left:   4px; margin-right:  4px; }
.my-4 { margin-top:    4px; margin-bottom: 4px; }

.m-8  { margin:        8px; }
.mt-8 { margin-top:    8px; }
.mr-8 { margin-right:  8px; }
.mb-8 { margin-bottom: 8px; }
.ml-8 { margin-left:   8px; }
.mx-8 { margin-left:   8px; margin-right:  8px; }
.my-8 { margin-top:    8px; margin-bottom: 8px; }

.m-16  { margin:        16px; }
.mt-16 { margin-top:    16px; }
.mr-16 { margin-right:  16px; }
.mb-16 { margin-bottom: 16px; }
.ml-16 { margin-left:   16px; }
.mx-16 { margin-left:   16px; margin-right:  16px; }
.my-16 { margin-top:    16px; margin-bottom: 16px; }

.m-32  { margin:        32px; }
.mt-32 { margin-top:    32px; }
.mr-32 { margin-right:  32px; }
.mb-32 { margin-bottom: 32px; }
.ml-32 { margin-left:   32px; }
.mx-32 { margin-left:   32px; margin-right:  32px; }
.my-32 { margin-top:    32px; margin-bottom: 32px; }

.mxn-4 { margin-left: 4px; margin-right: 4px; }
.mxn-8 { margin-left: 8px; margin-right: 8px; }
.mxn-16 { margin-left: 16px; margin-right: 16px; }
.mxn-32 { margin-left: 32px; margin-right: 32px; }

.ml-auto { margin-left: auto; }
.mr-auto { margin-right: auto; }
.mx-auto { margin-left: auto; margin-right: auto; }

/* PADDING UTILITIES */
.p-0  { padding:        0; }
.pt-0 { padding-top:    0; }
.pr-0 { padding-right:  0; }
.pb-0 { padding-bottom: 0; }
.pl-0 { padding-left:   0; }
.px-0 { padding-left:   0; padding-right:  0; }
.py-0 { padding-top:    0; padding-bottom: 0; }

.p-4  { padding:        4px; }
.pt-4 { padding-top:    4px; }
.pr-4 { padding-right:  4px; }
.pb-4 { padding-bottom: 4px; }
.pl-4 { padding-left:   4px; }
.py-4 { padding-top:    4px; padding-bottom: 4px; }
.px-4 { padding-left:   4px; padding-right:  4px; }

.p-8  { padding:        8px; }
.pt-8 { padding-top:    8px; }
.pr-8 { padding-right:  8px; }
.pb-8 { padding-bottom: 8px; }
.pl-8 { padding-left:   8px; }
.py-8 { padding-top:    8px; padding-bottom: 8px; }
.px-8 { padding-left:   8px; padding-right:  8px; }

.p-16  { padding:        16px; }
.pt-16 { padding-top:    16px; }
.pr-16 { padding-right:  16px; }
.pb-16 { padding-bottom: 16px; }
.pl-16 { padding-left:   16px; }
.py-16 { padding-top:    16px; padding-bottom: 16px; }
.px-16 { padding-left:   16px; padding-right:  16px; }

.p-32  { padding:        32px; }
.pt-32 { padding-top:    32px; }
.pr-32 { padding-right:  32px; }
.pb-32 { padding-bottom: 32px; }
.pl-32 { padding-left:   32px; }
.py-32 { padding-top:    32px; padding-bottom: 32px; }
.px-32 { padding-left:   32px; padding-right:  32px; }

/* SPACING */
.sp-8  { margin-top: 8x; }
.sp-16 { margin-top: 16px; }
.sp-32 { margin-top: 32px; }
.sp-64 { margin-top: 64px; }
.sp-96 { margin-top: 96px; }