/* CSS General Styles Sheet
 *
 * Imports, CSS Variables, Reset, Typography,
 * Buttons, Forms, Tables
------------------------------------*/


/* IMPORTS
------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700');


/* CSS VARIABLES
------------------------------------*/
:root {
  --black: #000;
  --grey-0: #111;
  --grey-20: #333;
  --grey-40: #666;
  --grey-60: #999;
  --grey-80: #ccc;
  --grey-100: #eee;
  --bggrey: #fcfcfc;
  --offwhite: #f8f8f8;
  --white: #fff;

  --red: #e62b1e;
  --redhover: #cb2d3e;
  --redgradient: linear-gradient(180deg, #cb2d3e 0%, #ef473a 100%);
  --redgradient45: linear-gradient(315deg, #cb2d3e 0%, #ef473a 100%);
  --opaque: rgba(0, 0, 0, 0.3);


  --grey: #4e4e4e;
  --lightgrey: #aaa;
  --lightblue: #6eebfc;
  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 2rem;
  --space-4: 4rem;
}

/* RESET
------------------------------------*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

html,
body {
  font-size: 16px;
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.1875rem;
  z-index: -20;
}

/* THIS CODE HACKS STATUS BAR BACKGROUND ON MOBILE, DO NOT REUSE */
body:before {
  content: "";
  top: 0;
  left: 0;
  background: var(--bggrey);
  z-index: -2;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

body:after {
  content: "";
  top: -300px;
  left: 0;
  background: var(--redhover);
  z-index: 10;
  width: 100vw;
  height: 300px;
  position: fixed;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display: block;
}

nav ul { list-style: none; }

a {
    vertical-align: baseline;
    background: transparent;
}

mark {
    background-color: var(--red);
    color: var(--black); 
    font-style: italic;
    font-weight: bold;
}

del { text-decoration: line-through; }

hr {
    display: block;
    height: 1px;
    border: 0;   
    border-top: 1px solid var(--grey-20);
}

input,
select {
    vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
}


/* TYPOGRAPHY
------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  color: var(--black);
  text-rendering: optimizeLegibility;
}

h1, .h1 {
  font-size: 2.0625rem;
  line-height: 2.375rem;
  margin-top: 1.1875rem;
  margin-bottom: 1.1875rem;
}

h2, .h2 {
  font-size: 1.625rem;
  line-height: 2.375rem;
  margin-top: 1.1875rem;
  margin-bottom: 1.1875rem;
}

h3, .h3 {
  font-size: 1.25rem;
  line-height: 2.375rem;
  margin-top: 1.1875rem;
  margin-bottom: 0;
}

h4, .h4 {
  font-size: 1rem;
  line-height: 1.1875rem;
  margin-top: 1.1875rem;
  margin-bottom: 0;
}

h5, .h5 {
  font-size: 1rem;
  line-height: 1.1875rem;
  margin-top: 1.1875rem;
  margin-bottom: 0;
}

h6, .h6 {
  font-size: 1rem;
  line-height: 1.1875rem;
  margin-top: 1.1875rem;
  margin-bottom: 1.1875rem;
  font-weight: 400;
}

p {
  font-size: 1rem;
  color: var(--grey-20);
  margin-bottom: 1.3rem;
  line-height: 1.4rem;
}

p, ul, ol, pre, table, blockquote {
  margin-top: 0em;
  margin-bottom: 1.1875rem;
}

hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

a {
  color: var(--red);
  text-decoration: none;
}

small {
  font-size: 0.7em;
  line-height: inherit;
}

del { text-decoration: line-through; }

code {
  margin: 0 .3rem;
  padding: .3rem .6rem;
  white-space: nowrap;
  background: var(--offwhite);
  border: 1px solid var(--offwhite);
  border-radius: 3px;
}

/* BLOCKQUOTE STYLING */
blockquote {
  padding: 1rem;
  border-left: 7px solid var(--grey-20);
}

blockquote > p {
  font-style: italic;
  line-height: 1.6;
}

blockquote::before {
  content: open-quote;
  font-size: 4rem;
  color: var(--grey-20);
  line-height: 0.3em;
  margin-right: 0.25em;
  vertical-align: -0.5em;
}

cite {
  color: var(--grey-20);
  display: block;
  padding: 0;
  text-align: right;
  font-style: italic;
}

cite::before { content: '— '; }

dt {
  font-weight: bold;
  padding: 10px 0;
}

dd {
  color: var(--grey-20);
  line-height: 1.4;
}


/* FORMS
------------------------------------*/
fieldset { border: none; }
textarea { min-height: 5em; }

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  font-size: 1rem;
  display: block;
  padding: 1em;
  color: var(--grey-20);
  width: 100%;
  border: 1px solid var(--lightgrey);
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
	color: var(--black);
  border: 1px solid var(--grey-20);
  box-sizing: border-box;
}

label,
legend {
  color: var(--black);
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 1rem;
	margin-bottom: .6rem;
	display: block;
}

.placeholder { color: var(--lightgrey); }
.focus-highlight { border-bottom: 1px solid var(--red); }


/* BUTTONS
------------------------------------*/
.btn {
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: .05rem;
  padding: 1rem;
  box-sizing: border-box;
  font-weight: 600;
  transition: all 300ms ease-in-out;
}

.btn-full {
  width: 100%;
  padding: 1rem 2rem;
}

/* red gradient button */
.btn--primary {
  color: var(--white);
  background: var(--redgradient45);
  box-shadow: 0 2px 10px 0 var(--opaque);
  transition: all 300ms ease-in-out;
}

/* white button */
.btn--secondary {
  color: var(--black);
  background: var(--offwhite);
  box-shadow: 0 2px 10px 0 var(--opaque);
  transition: all 300ms ease-in-out;
}

/* red outline btn */
.btn--tertiary {
  color: var(--red);
  background: transparent;
  border: 1px solid var(--red);
}

.btn--tertiary:hover {
  color: var(--redhover);
  border: 1px solid var(--redhover);
  background: none;
}

.btn--tertiary:focus {
  background: var(--redgradient45);
}

/* black outline button */
.btn--outline {
  color: var(--black);
  background-color: var(--white);
	border: 3px solid var(--black);
}

.btn--cancel {
  background-color: var(--lightgrey);
  color: var(--black);
}

.btn--cancel:hover {
  background-color: var(--grey-20);
}

.q-btn {
  position: relative;
  margin-top: 0;
  bottom: -36px;
  font-size: 0.7rem;
  font-weight: 600;
  color: var(--redhover);
  background-color: var(--white);
  border-radius: 66px;
  padding: 16px 40px;
  box-shadow: 0px 2px 24px rgba(203, 45, 62, 0.35);
}

.q-btn:hover {
  background-color: var(--bggrey);
}


/* TABLES
------------------------------------*/
table {
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0;
  padding: 20px;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: var(--grey-20);
  color: var(--white);
}

td {
  background-color: var(--offwhite);
}

.table-container {
  overflow-x: auto;
  padding: 20px;
}


/* UTILITIES
------------------------------------*/

/* TYPOGRAPHY */
.bold { font-weight: 600; }
.italicize { font-style: italic; }
.underline { text-decoration: underline; }
.text-center { text-align: center; }

.text-lightgrey { color: var(--lightgrey); }
.text-red { color: var(--red); }

.link-white {
  color: var(--white);
  text-decoration: underline;
}

.relative { position: relative; }

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

/* MARGIN UTILITIES */
.m0  { margin:        0 }
.mt0 { margin-top:    0 }
.mr0 { margin-right:  0 }
.mb0 { margin-bottom: 0 }
.ml0 { margin-left:   0 }
.mx0 { margin-left:   0; margin-right:  0 }
.my0 { margin-top:    0; margin-bottom: 0 }

.m1  { margin:        var(--space-1) }
.mt1 { margin-top:    var(--space-1) }
.mr1 { margin-right:  var(--space-1) }
.mb1 { margin-bottom: var(--space-1) }
.ml1 { margin-left:   var(--space-1) }
.mx1 { margin-left:   var(--space-1); margin-right:  var(--space-1) }
.my1 { margin-top:    var(--space-1); margin-bottom: var(--space-1) }

.m2  { margin:        var(--space-2) }
.mt2 { margin-top:    var(--space-2) }
.mr2 { margin-right:  var(--space-2) }
.mb2 { margin-bottom: var(--space-2) }
.ml2 { margin-left:   var(--space-2) }
.mx2 { margin-left:   var(--space-2); margin-right:  var(--space-2) }
.my2 { margin-top:    var(--space-2); margin-bottom: var(--space-2) }

.m3  { margin:        var(--space-3) }
.mt3 { margin-top:    var(--space-3) }
.mr3 { margin-right:  var(--space-3) }
.mb3 { margin-bottom: var(--space-3) }
.ml3 { margin-left:   var(--space-3) }
.mx3 { margin-left:   var(--space-3); margin-right:  var(--space-3) }
.my3 { margin-top:    var(--space-3); margin-bottom: var(--space-3) }

.m4  { margin:        var(--space-4) }
.mt4 { margin-top:    var(--space-4) }
.mr4 { margin-right:  var(--space-4) }
.mb4 { margin-bottom: var(--space-4) }
.ml4 { margin-left:   var(--space-4) }
.mx4 { margin-left:   var(--space-4); margin-right:  var(--space-4) }
.my4 { margin-top:    var(--space-4); margin-bottom: var(--space-4) }

.mxn1 { margin-left: -var(--space-1); margin-right: -var(--space-1); }
.mxn2 { margin-left: -var(--space-2); margin-right: -var(--space-2); }
.mxn3 { margin-left: -var(--space-3); margin-right: -var(--space-3); }
.mxn4 { margin-left: -var(--space-4); margin-right: -var(--space-4); }

.ml-auto { margin-left: auto }
.mr-auto { margin-right: auto }
.mx-auto { margin-left: auto; margin-right: auto; }

/* PADDING UTILITIES */
.p0  { padding: 0 }
.pt0 { padding-top: 0 }
.pr0 { padding-right: 0 }
.pb0 { padding-bottom: 0 }
.pl0 { padding-left: 0 }
.px0 { padding-left: 0; padding-right:  0 }
.py0 { padding-top: 0;  padding-bottom: 0 }

.p1  { padding:        var(--space-1) }
.pt1 { padding-top:    var(--space-1) }
.pr1 { padding-right:  var(--space-1) }
.pb1 { padding-bottom: var(--space-1) }
.pl1 { padding-left:   var(--space-1) }
.py1 { padding-top:    var(--space-1); padding-bottom: var(--space-1) }
.px1 { padding-left:   var(--space-1); padding-right:  var(--space-1) }

.p2  { padding:        var(--space-2) }
.pt2 { padding-top:    var(--space-2) }
.pr2 { padding-right:  var(--space-2) }
.pb2 { padding-bottom: var(--space-2) }
.pl2 { padding-left:   var(--space-2) }
.py2 { padding-top:    var(--space-2); padding-bottom: var(--space-2) }
.px2 { padding-left:   var(--space-2); padding-right:  var(--space-2) }

.p3  { padding:        var(--space-3) }
.pt3 { padding-top:    var(--space-3) }
.pr3 { padding-right:  var(--space-3) }
.pb3 { padding-bottom: var(--space-3) }
.pl3 { padding-left:   var(--space-3) }
.py3 { padding-top:    var(--space-3); padding-bottom: var(--space-3) }
.px3 { padding-left:   var(--space-3); padding-right:  var(--space-3) }

.p4  { padding:        var(--space-4) }
.pt4 { padding-top:    var(--space-4) }
.pr4 { padding-right:  var(--space-4) }
.pb4 { padding-bottom: var(--space-4) }
.pl4 { padding-left:   var(--space-4) }
.py4 { padding-top:    var(--space-4); padding-bottom: var(--space-4) }
.px4 { padding-left:   var(--space-4); padding-right:  var(--space-4) }

/* SPACING */
.sp-8  { margin-top: 8x; }
.sp-16 { margin-top: 16px; }
.sp-32 { margin-top: 32px; }
.sp-64 { margin-top: 64px; }
.sp-96 { margin-top: 96px; }