/* *
* Sources/Aids:
* -----------------------------
* styleshout.com (Kard v1.0 Main Stylesheet, 03-01-2016)
* Typography (font-size: 16px; line-height: 1.2; scale: 1.275): https://www.gridlover.net/try
* Link effect: https://codemyui.com/theoutline-squiggle-link-hover-effect/
*
* Organization:
* -----------------------------
* 01. Imports
* 02. CSS Variables
* 03. Reset stylesheet
* 04. General style & overrides
* 05. Forms (TBD)
* 06. Buttons
* 07. List styling
* 08. Components (separate CSS files)
* 09. Responsive styles
* -----------------------------
**/

/* ---------- 01. START IMPORTS ---------- */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700');
/* ---------- 01. END IMPORTS ---------- */

/* ---------- 02. START CSS VARIABLES ---------- */
:root {
  --tedblack: #000;
  --tedgrey: #4e4e4e;
  --tedlightgrey: #aaa;
  --tedbggrey: #FCFCFC;
  --tedoffwhite: #f8f8f8;
  --tedwhite: #fff;
  --tedblue: #6EEBFC;
  --tedred: #e62b1e;
  --tedredhover: #cb2d3e;
  --tedredgradient: linear-gradient(180deg, #CB2D3E 0%, #EF473A 100%);
  --tedredgradient45: linear-gradient(315deg, #CB2D3E 0%, #EF473A 100%);
  --opaque: rgba(0, 0, 0, 0.3);
}
/* ------------- 02. END CSS VARIABLES ------------ */

/* ---------- 03. START RESET STYLESHEET ---------- */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

html, .root {
  font-size: 16px;
  line-height: 19px;
}

body, .article {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.1875rem;
  background-color: var(--tedredhover);
  z-index: -20;
}


/* THIS IS A GIGANTIC HACK, DO NOT REUSE CODE 
UNLESS YOU KNOW WHAT IT DOES */

body:before{
  content: "";
  top: 0;
  left: 0;
  background: var(--tedbggrey);
  /* position:-webkit-sticky; */
  z-index: -2;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

body:after {
  content: "";
  top: -300px;
  left: 0;
  background: var(--tedredhover);
  /* position:-webkit-sticky; */
  z-index: 10;
  width: 100vw;
  height: 300px;
  position: fixed;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display: block;
}

nav ul {
    list-style: none;
}

a {
    vertical-align: baseline;
    background: transparent;
}

mark {
    background-color: var(--tedred);
    color: var(--tedblack); 
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

hr {
    display: block;
    height: 1px;
    border: 0;   
    border-top: 1px solid var(--tedgrey);
}

input, select {
    vertical-align: middle;
}
/* ----- 03. END RESET STYLESHEET ----- */

/* ----- 04. START GENERAL STYLES & OVERRIDES ----- */

h1, h2, h3, h4, h5, h6 {
  color: var(--tedblack);
  text-rendering: optimizeLegibility;
}

h1, .h1 {
  font-size: 2.0625rem;
  line-height: 2.375rem;
  margin-top: 1.1875rem;
  margin-bottom: 1.1875rem;
}
h2, .h2 {
  font-size: 1.625rem;
  line-height: 2.375rem;
  margin-top: 1.1875rem;
  margin-bottom: 1.1875rem;
}
h3, .h3 {
  font-size: 1.25rem;
  line-height: 2.375rem;
  margin-top: 1.1875rem;
  margin-bottom: 0rem;
}
h4, .h4 {
  font-size: 1rem;
  line-height: 1.1875rem;
  margin-top: 1.1875rem;
  margin-bottom: 0rem;
}
h5, .h5 {
  font-size: 1rem;
  line-height: 1.1875rem;
  margin-top: 1.1875rem;
  margin-bottom: 0rem;
}

h6, .h6 {
  font-size: 1rem;
  line-height: 1.1875rem;
  margin-top: 1.1875rem;
  margin-bottom: 1.1875rem;
  font-weight: 400;
  color: var(--tedgrey);
}

p {
  font-size: 1rem;
  color: var(--tedgrey);
  margin-bottom: 1.3rem;
  line-height: 1.4rem;
}

p, ul, ol, pre, table, blockquote {
  margin-top: 0rem;
  margin-bottom: 1.1875rem;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

a {
  color: var(--tedred);
  text-decoration: none;
}

p a {
  color: var(--tedgrey);
  text-decoration: none;
  background: var(--tedredgradient);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 3px 3px;
}

p a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='#e62b1e' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 5px;
  background-repeat: repeat-x;
}

/* --- MISCELLANEOUS STYLING --- */
small {
  font-size: 0.7em;
  line-height: inherit;
}

del {
  text-decoration: line-through;
}

code {
  font-size: 1.1rem;
  margin: 0 .3rem;
  padding: .3rem .6rem;
  white-space: nowrap;
  background: var(--tedoffwhite);
  border: 1px solid var(--tedoffwhite);
  border-radius: 3px;
}

/* BLOCKQUOTE STYLING */
blockquote {
  padding: 1rem;
  border-left: 7px solid var(--tedgrey);
}

blockquote p {
  font-style: italic;
  line-height: 1.6;
}

blockquote::before {
  content: open-quote;
  font-size: 4rem;
  color: var(--tedgrey);
  line-height: 0.3em;
  margin-right: 0.25em;
  vertical-align: -0.5em;
}

cite {
  color: var(--tedgrey);
  display: block;
  padding: 0;
  text-align: right;
  font-style: italic;
}

cite::before {
  content: '— ';
}

/* DEFINITION LIST STYLING */

/* dl {
  margin: 20px;
} */

dt {
  font-weight: bold;
  padding: 10px 0;
}

dd {
  color: var(--tedgrey);
  line-height: 1.4;
}


/* ---------- 04. END GENERAL STYLES & OVERRIDES ---------- */

/* ---------- 05. START FORM STYLING ---------- */

form {
  margin: 20px;
}

fieldset {
  border: none;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  display: block;
  height: 1em;
  padding: 1em 0;
  border: none;
  outline: none;
  color: var(--tedgrey);
  font-size: 1em;
  line-height: 1em;
  width: 100%;
  background: transparent;
  border: 1px solid #e9ebec;
  transition: all 0.3s ease-in-out;
}

textarea {
  font-size: 1em;
	min-height: 5em;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
	color: var(--tedblack);
  border: 1px solid var(--tedlightgrey);
  box-sizing: border-box;
}

.focus-highlight {
  border-bottom: 1px solid var(--tedred);
}

label, legend {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  margin-top: 1rem;
	margin-bottom: .6rem;
	color: var(--tedblack);
	display: block;
}
input[type="checkbox"], input[type="radio"] {
	display: inline;
}
label > .label-text {
	display: inline-block;
	margin-left: 1rem;
	line-height: inherit;
}
label > input[type="checkbox"], label > input[type="radio"] {
	margin: 0;
	position: relative;
	top: .15rem;
}

.placeholder {
	color: var(--tedlightgrey) !important;
}

/* ---------- 05. END FORM STYLING ---------- */

/* ---------- 06. START BUTTON STYLING ---------- */

button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  text-align: center;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
  height: 3rem;
  padding: 0 3rem;
  margin: 0 .3rem 1.2rem 0;
  min-width: 80px;
  letter-spacing: .05rem;
  background: var(--tedwhite);
}

form button,
form input[type="submit"],
form input[type="reset"],
form input[type="button"] {
  margin-top: 20px;
}

button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
	background: var(--tedoffwhite);
	color: var(--tedblack);
	outline: 0;
}

button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
	background: var(--tedredgradient45);
  color: var(--tedwhite);
  transition: all 0.5s ease-in-out;
  box-shadow: 0 2px 10px 0 var(--opaque);
}

button.button-sent,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
	background: var(--tedoffwhite);
  color: var(--tedblack);
  transition: all 0.5s ease-in-out;
  box-shadow: 0 2px 10px 0 var(--opaque);
}

button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  background: var(--tedredgradient45);
  transition: all 0.5s ease-in-out;
}

button.full-width {
	width: 100%;
  height: 4rem;
	line-height: 4rem;
	padding: 0em 2rem;
}

button.medium {
	height: 3rem;
	line-height: 3rem;
	padding: 0 1.1rem;
}
button.large {
	height: 4rem;
	line-height: 4rem;
	padding: 0em 2rem;
}
button.stroke {
  background: var(--tedwhite);
  color: var(--tedblack);
	border: 3px solid var(--tedblack);
	line-height: 2.375rem;
}
button.stroke.medium {
	line-height: 2rem;
}
button.stroke.large {
	line-height: 2rem;
}
button.stroke:hover {
	border: 3px solid var(--tedred);
	color: var(--tedred);
}
button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

button.blank {
  background: none;
  color: var(--tedred);
  border: 1px solid var(--tedred);
  border-radius: 3px;
  box-sizing: border-box;
  /* transition: all 0.5s ease-in-out; */
}

button.blank:hover {
  color: var(--tedredhover);
  border: 1px solid var(--tedredhover);
  background: none;
}

button.blank:focus {
  transition: all 0.5s ease-in-out;
  background: var(--tedredgradient45);
}

/* ---------- 06. END BUTTON STYLING ---------- */

/* ---------- 07. START LIST STYLING ---------- */

/* ---------- 07. END LIST STYLING ---------- */

/* ---------- 08. START TABLE STYLING ---------- */
table {
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0;
  padding: 20px;
}

th, td {
text-align: left;
padding: 8px;
}

th {
background-color: var(--tedgrey);
color: white;
}

td {
background-color: var(--tedoffwhite);
}

.table-container {
overflow-x: auto;
padding: 20px;
}
/* ---------- 08. END TABLE STYLING ---------- */

/* ---------- 09. START RESPONSIVE STYLING ---------- */

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    /* content */
  } 
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    /* content */
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    /* content */
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
      /* content */
  }
/* ---------- 09. END RESPONSIVE STYLING ---------- */