/* *
* Sources/Aids:
* -----------------------------
* styleshout.com (Kard v1.0 Main Stylesheet, 03-01-2016)
* Reset stylesheet: html5doctor.com | v1.6.1 | 2010-09-17 | Richard Clark | http://richardclarkdesigns.com
* Link effect: https://codemyui.com/theoutline-squiggle-link-hover-effect/
*
* Organization:
* -----------------------------
* 01. Imports
* 02. CSS Variables
* 03. Reset stylesheet
* 04. General style & overrides
* 05. Footer
* 06. Forms (TBD)
* 07. Buttons
* 08. List styling
* 09. Components (separate CSS files)
* 10. Responsive styles
* -----------------------------
**/

/* ---------- 01. IMPORTS (START) ---------- */
@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  src: local('Helvetica'), local('Helvetica'),
       url('./fonts/helvetica.ttf') format('truetype'), /* Safari, Android, iOS */
}
/* ---------- 01. IMPORTS (END) ---------- */

/* ---------- 02. CSS VARIABLES (START) ---------- */
:root {
  --tedblack: #000;
  --tedgrey: #4e4e4e;
  --tedlightgrey: #aaaaaa;
  --tedred: #e62b1e;
  --tedwhite: #fff;
  --tedoffwhite: #f8f8f8;
  --tedredhover: #c42318;
  --opaque: rgba(0, 0, 0, 0.35);
  --tedfont: "Helvetica";
}
/* ---------- 02. CSS VARIABLES (END) ---------- */

/* ---------- 03. RESET STYLESHEET (START) ---------- */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    font-family: "Helvetica", serif;
    line-height: 1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ins {
    background-color: var(--tedred);
    color: var(--tedblack);
    text-decoration: none;
}

mark {
    background-color: var(--tedred);
    color: var(--tedblack); 
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;   
    border-top: 1px solid var(--tedblack);
    margin: em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}
/* ----- 03. RESET STYLESHEET (END) ----- */

/* ----- 04. GENERAL STYLES & OVERRIDES (START) ----- */

/* --- DOCUMENT STYLING --- */
html {
  font-family: var(--tedfont), sans-serif;
}

body {
  font-family: var(--tedfont), sans-serif;
  background-color: var(--tedwhite);
}

/* --- TYPOGRAPHY --- */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--tedfont), sans-serif;
  color: var(--tedblack);
  font-style: normal;
  text-rendering: optimizeLegibility;
  margin-bottom: 1.0em;
}

h1 {
  font-size: 3em;
  line-height: 1.3;
  font-weight: 600;
  letter-spacing: 0.3px;
}

@media only screen and (max-width:600px) {
  h1 {
    font-size: 2.6em;
    letter-spacing: -.05em;
  }
}

h2 {
  font-size: 2.4em;
  font-weight: 600;
  /* line-height: 1.25; */
  /* padding: 0; */
  /* margin: 0.5em; */
}

h3 {
  font-size: 2em;
  line-height: 1.5;
  /* margin-bottom: 1.0em; */
}

h4 {
  font-size: 1.7em;
  line-height: 1.5;
  margin-bottom: 0em;
  /* margin-bottom: 1.1em; */
}

h5 {
  font-size: 1.4em;
  line-height: 1.2;
  text-transform: uppercase;
  /* letter-spacing: 0em; */
  /* margin-bottom: 0.5em; */
}

h6 {
  font-size: 1.3em;
  /* line-height: 1.2; */
  /* letter-spacing: 0em; */
  /* margin-bottom: 0.5em; */
}

p {
  font-size: 1em;
  color: var(--tedgrey);
  margin-bottom: 1.3em;
  line-height: 1.4;
}

a {
  color: var(--tedred);
  text-decoration: none;
}

p a {
  color: var(--tedgrey);
  text-decoration: none;
  background: linear-gradient(to bottom, var(--tedred) 0%, var(--tedred) 100%);
	background-position: 0 105%;
	background-repeat: repeat-x;
	background-size: 3px 3px;
}

p a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='#e62b1e' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 5px;
  background-repeat: repeat-x;
  text-decoration: none;
}

/* --- BLOCKQUOTE STYLING -- */
blockquote {
  margin: 3em 0;
  padding-left: 4em;
  position: relative;
}

blockquote:before {
  content: "\201C";
  font-size: 4em;
  line-height: 0px;
  margin: 0;
  color: var(--tedgrey);
  font-family: var(--tedfont), sans-serif;
  position: absolute;
  top: 0.4em;
  left: 0;
}

blockquote p {
  font-family: var(--tedfont), serif;
  font-style: italic;
  padding: 0;
  font-size: 1.2em;
  line-height: 1.737;
}

blockquote cite {
  display: block;
  font-size: 1.15em;
  font-style: normal;
  line-height: 1.616;
}

/* --- MISCELLANEOUS STYLING --- */
small {
  font-size: 0.7em;
  line-height: inherit;
}

hr {
  border: solid var(--tedgrey);
  border-width: 1px 0 0;
  clear: both;
  margin: 2.4em 0 1.5em;
  height: 0;
}

del {
  text-decoration: line-through;
}

code {
  font-size: 1.1em;
  margin: 0 .3em;
  padding: .3em .6em;
  white-space: nowrap;
  background: var(--tedoffwhite);
  border: 1px solid var(--tedoffwhite);
  border-radius: 3px;
}

/* ---------- 04. GENERAL STYLES & OVERRIDES (END) ---------- */

/* ---------- 05. FORM STYLING (START) ---------- */

form {
  width: 80%;
}

fieldset {
  border: none;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  display: block;
  height: 1em;
  padding: 1em 0;
  border: 0;
  outline: none;
  justify-content: center;
  color: var(--tedgrey);
  font-family: var(--tedfont), sans-serif;
  font-size: 1em;
  line-height: 1em;
  width: 100%;
  background: transparent;
  border-bottom: 1px solid var(--opaque);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

textarea {
  font-size: 1em;
	min-height: 5em;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
	color: var(--tedblack);
	border-bottom: 1px solid var(--tedred);
}
label, legend {
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--tedfont), sans-serif;
  font-size: 1em;
  margin-top: 1em;
	margin-bottom: .6em;
	color: var(--tedblack);
	display: block;
}
input[type="checkbox"], input[type="radio"] {
	display: inline;
}
label > .label-text {
	display: inline-block;
	margin-left: 1em;
	line-height: inherit;
}
label > input[type="checkbox"], label > input[type="radio"] {
	margin: 0;
	position: relative;
	top: .15em;
}

/* ---------- Style Placeholder Text ---------- */
::-webkit-input-placeholder {
	color: var(--tedlightgrey);
}
:-moz-placeholder {
	color: var(--tedlightgrey);  /* Firefox 18- */
}
::-moz-placeholder {
	color: var(--tedlightgrey);  /* Firefox 19+ */
}
:-ms-input-placeholder {
	color: var(--tedlightgrey);
}
.placeholder {
	color: var(--tedlightgrey) !important;
}

/* ========================================================== */
.ss-custom-select {
	position: relative;
	padding: 0;
}
.ss-custom-select select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	margin: 0;
	line-height: 3rem;
	vertical-align: middle;
}
.ss-custom-select select option {
	padding-left: 2rem;
	padding-right: 2rem;
}
.ss-custom-select select::-ms-expand {
	display: none;
}
.ss-custom-select::after {
	content: '\f0d7';
	font-family: 'FontAwesome';
	position: absolute;
	top: 50%;
	right: 1.5rem;
	margin-top: -10px;
	bottom: auto;
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	text-align: center;
	pointer-events: none;
	color: #252525;
}

/* IE9 and below */
.oldie .ss-custom-select::after {
	display: none;
}

/* =========================================================== */
/* ---------- 05. FORM STYLING (END) ---------- */

/* ---------- 06. BUTTON STYLING (START) ---------- */

button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  font-weight: 600;
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .05em;
  height: 3em;
  padding: 0 3em;
  margin: 0 .3em 1.2em 0;
  color: var(--tedwhite);
  background-color: var(--tedgrey);
  min-width: 80px;
  box-shadow: 2px 2px 6px 0 var(--opaque);
  cursor: pointer;
  border-radius: 3px;
  border: none;
  text-align: center;
  white-space: nowrap;
  -moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

form button,
form input[type="submit"],
form input[type="reset"],
form input[type="button"] {
  float: right;
}

button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
	background: var(--tedblack);
	color: var(--tedwhite);
	outline: 0;
}

button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
	background: var(--tedred);
	color: var(--tedwhite);
}

button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
	background: var(--tedredhover);
}

button.full-width {
	width: 100%;
  height: 4em !important;
	line-height: 4em !important;
	padding: 0em 2em !important;
}

button.medium {
	height: 3.6em !important;
	line-height: 3.6em !important;
	padding: 0 1.1em !important;
}
button.large {
	height: 4em !important;
	line-height: 4em !important;
	padding: 0em 2em !important;
}
button.stroke {
  background: transparent !important;
  color: var(--tedgrey);
	border: 3px solid var(--tedgrey);
	line-height: 3.8em;
}
button.stroke.medium {
	line-height: 3.45em !important;
}
button.stroke.large {
	line-height: 3.45em !important;
}
button.stroke:hover {
	border: 3px solid var(--tedred);
	color: var(--tedred);
}
button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
/* ---------- 06. BUTTON STYLING (END) ---------- */

/* ---------- 07. LIST STYLING (START) ---------- */

li {
  width: 80%;
  padding: 10px;
}

li h3 {
  background-color: var(--tedblack);
  margin: 0;
  color: var(--tedwhite);
  font-weight: 300;
  padding: 15px;
}

li p {
  padding: 15px;
}
/* ---------- 07. LIST STYLING (END) ---------- */

/* ---------- 08. COMPONENT STYLING (START) ---------- */

/* ---------- 08. COMPONENT STYLING (END) ---------- */

/* ---------- 09. RESPONSIVE STYLING (START) ---------- */
@media only screen and (max-width:1024px) {
  p {
    font-size: 1em;
  }
}
@media only screen and (max-width:768px) {
  p {
    font-size: 0.95em;
  }
}
@media only screen and (max-width:600px) {
  /* COLLAPSE MENU */
  p {
    font-size: 0.95em;
  }
}
@media only screen and (max-width:400px) {
  p {
    font-size: 0.9em;
    flex-direction: row;
    text-align: justify;
  }
}
/* ---------- 09. RESPONSIVE STYLING (END) ---------- */

.space-evely {
  display: flex;
  align-content: space-between;
}