.map-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 0 5%;
}

.map {
  margin-top: 20px;
  height: 450px;
  position: relative;
}

.map__indoor-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20%;
}
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .map {
        margin-top: 30px;
    }
  }
